* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3rem;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.text-center-padding {
    padding-top: 35px;
}

li:nth-child(1) a:hover {
    color: white;
    border-bottom: 1px white dashed;
}

li:nth-child(2) a:hover {
    color: white;
    border-bottom: 1px white dashed;
}

li:nth-child(3) a:hover {
    color: white;
    border-bottom: 1px white dashed;
}

li:nth-child(4) a:hover {
    color: white;
    border-bottom: 1px white dashed;
}

li:nth-child(5) a:hover {
    color: white;
    border-bottom: 1px white dashed;
}

p {
    padding: 2%;
}


/* NAVBAR */

.fixed-top {
    position: absolute;
}


/* TEXT LOGO */

.textLogo {
    font-family: Pacifico, sans-serif;
    font-size: 1.6rem;
}


/* BANNER - CENTERED LOGO OVER AN IMAGE */

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.logoOverAnImage img {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

@media (max-width: 1024px) {
    .logoOverAnImage img {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .logoOverAnImage img {
        width: 70%;
    }
}

@media (orientation:landscape) and (max-height: 670px) {
    .logoOverAnImage img {
        width: 30%;
    }
    a.arrow {
        display: none;
    }
}

@media (orientation:landscape) and (max-height: 570px) {
    .logoOverAnImage img {
        width: 20%;
    }
    a.arrow {
        display: none;
    }
}

@media (orientation:landscape) and (max-height: 470px) {
    .logoOverAnImage img {
        width: 10%;
        padding-top: 0;
        padding-bottom: 0;
    }
    a.arrow {
        display: none;
    }
}

@media (orientation:portrait) and (max-height: 671px) {
    .logoOverAnImage img {
        width: 60%;
    }
}


/* BANNER */

.imageContainer>img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

img.imageSmall {
    display: none;
}

img.imageLarge {
    display: none;
}

@media (max-width: 1300px) {
    img.imageSmall {
        display: none;
    }
    img.imageLarge {
        display: block;
    }
    img.imageBig {
        display: none;
    }
}

@media (max-width: 640px) {
    img.imageSmall {
        display: block;
    }
    img.imageLarge {
        display: none;
    }
    img.imageBig {
        display: none;
    }
}


/* FOOTER */

.footer {
    width: 100%;
    text-align: center;
    color: black;
}

.footer a {
    color: black;
}

.footer p {
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .footer {
        padding: 15px;
    }
}


/* ARROWS BUTTON */

a.arrow {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 40px);
    font-size: 80px;
    width: 70px;
    height: 70px;
    border-style: none;
    border-radius: 50%;
    background-color: green;
    color: white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 15px 30px white, 0 15px 30px white, 0 15px 30px white;
    text-decoration: none;
    text-align: center;
}

a.arrow div {
    color: white;
    text-shadow: 0 -60px 0 white;
    transform: translateY(-55px);
    animation: arrow 2s linear infinite;
}

a.arrow:hover div {
    transform: translateY(-55px);
    animation: arrow 0.6s linear infinite;
}

@keyframes arrow {
    100% {
        transform: translateY(100px);
    }
}